@font-face {
  font-family: GeistVF;
    src: url(fonts/GeistVF.woff)
  }

body {
    background-color: #101010;
    color: #ffffff;
    font-family: GeistVF;
  }
  h1 {
    color: #ffffff;
  }
  nav a {
    color: #ffffff;
  }
  footer {
    color: #ffffff;
  }

  .still {
    display: block;
  }

  .webp {
    display: none;
  }
  
  .preview {
    width: 700px;
    height: 400px;
  }

  p {
    font-size: large;
    text-align: center;
  }

  ol {
    text-align: center;
    list-style-position: inside;
  }

  ul {
    text-align: center;
    list-style-position: inside;
  }

  .center {
    text-align: center;
  }

  .w3-sidebar {
    scrollbar-width: thin;
  }
  
  .preview-img {
    width: 700px;
    height: 400px;
  }

  .w3-button {
    font-size: x-large;
  }

  .toggle {
    font-size: large;
  }

  /* Add an active class to the active dropdown button */
  .active {
    background-color: rgba(250, 180, 68, 0.933);
  }

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: rgba(179, 179, 179, 0.499);
  }
  
  