/*
MY CSS 
*/
.bigger-text {
    font-size: xx-large;
  }
  
  .big-text {
    font-size: x-large;
  }
  
  .flex-parent-element {
    display: flex;
    min-width: 50%;
  }
  
  .flex-child-element {
    flex: 1;
    min-width: 500px;
  }
  
  .flex-child-element:first-child {
    margin-left: 10px;
  }