---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
/*
MY CSS 
*/
.bigger-text {
    font-size: xx-large;
  }
  
  .big-text {
    font-size: x-large;
  }
  
  .flex-parent-element {
    display: flex;
    //border: 2px solid blueviolet;
    min-width: 50%;
  }

  .flex-child-element {
    //border: 2px solid rgb(56, 51, 61);
    flex: 1;
    min-width: 40%;
  }
  
  .flex-child-element:first-child {
    margin-right: 10px;
  }
  
  .img {
    display: block;
    object-position: center top;
  }

  #test tr:nth-child(even){background-color: #fee3ca;}
  #test tr:nth-child(odd){background-color: #fbc799;}
  #test tr:hover {background-color: #ff902f;}
  a:link {
    color: rgb(30, 99, 218);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(192, 141, 251);
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: rgb(255, 183, 0);
    background-color: transparent;
    text-decoration: underline;
  }

  .lolk td{
    background-color: #ae65a6;
  }
  .eosd td{
    background-color: #e26c6c;
  }
  .sa td{
    background-color: #bc6a6a;
  }
  .in td{
    background-color: #5fa7ff;
  }
  .pcb td{
    background-color: #ffb1e5;
  }
  .mof td{
    background-color: #5dd680;
  }
  .ufo td{
    background-color: #62ffff;
  }
  .ddc td{
    background-color: #ffed92;
  }
  .hsifs td{
    background-color: #bda738;
  }
  .pofv td{
    background-color: #f9ae35;
  }
  