---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
// Width of the content area
$content-width:    1000px !default;

$on-palm:          800px !default;
$on-laptop:        1000px !default;

$base-font-size:   20px !default;
$background-color: #ffd9b5 !default;
/*
MY CSS 
*/
.bigger-text {
    font-size: xx-large;
  }
  
  .big-text {
    font-size: x-large;
  }
  
  .flex-parent-element {
    display: flex;
    //border: 2px solid blueviolet;
    min-width: 50%;
  }
  
  .flex-child-element {
    //border: 2px solid rgb(56, 51, 61);
    flex: 1;
    min-width: 500px;
  }
  
  .flex-child-element:first-child {
    margin-left: 10px;
  }