---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
/*
MY CSS 
*/
.bigger-text {
    font-size: xx-large;
  }
  
  .big-text {
    font-size: x-large;
  }
  
  .flex-parent-element {
    display: flex;
    //border: 2px solid blueviolet;
    min-width: 50%;
  }
  
  .flex-child-element {
    //border: 2px solid rgb(56, 51, 61);
    flex: 1;
    min-width: 50%;
  }
  
  .flex-child-element:first-child {
    margin-left: 10px;
  }